[Desktop Entry]
Type=Application
Name=Mini Volume
Comment=Lautstärke-Kontrolle mit Mausrad in der Taskleiste
Exec=/home/hubi/dbg/tmp/cctest/mini_volume2
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
StartupNotify=false
